<%= form_for(@projects_edition) do |f| %>
  <% if @projects_edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projects_edition.errors.count, "error") %> prohibited this projects_edition from being saved:</h2>

      <ul>
      <% @projects_edition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :edition_id %><br>
    <%= f.number_field :edition_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
