<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Done:</strong>
  <%= @project.done %>
</p>

<p>
  <strong>Todo:</strong>
  <%= @project.todo %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @project.authors %>
</p>

<p>
  <strong>Website:</strong>
  <%= @project.website %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
